[submodule "wsl-xclip-xsel"]
	path = wsl-xclip-xsel
	url = https://github.com/arquivolta/win-bash-xclip-xsel
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
[submodule "win11-gtk-theme-git"]
	path = win11-gtk-theme-git
	url = https://aur.archlinux.org/win11-gtk-theme-git.git
